<mat-nav-list class="sidenav-list">
    <ng-container *ngIf="!currentUser">
        <a mat-list-item (click)="onToggleClose('/authentication/login')">
            <mat-icon>input</mat-icon>
            <span>Login</span>
        </a>
        <a mat-list-item (click)="onToggleClose('/authentication/registration')">
            <mat-icon>account_circle</mat-icon>
            <span>Registration</span>
        </a>
        <a mat-list-item (click)="onToggleClose('/authentication/forgot-password')">
            <mat-icon>help_outline</mat-icon>
            <span>Forgot password</span>
        </a>
    </ng-container>
    <ng-container *ngIf="currentUser">
        <a mat-list-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </a>
    </ng-container>
</mat-nav-list>